<?xml version="1.0" encoding="utf-8" ?>
<map>
	<menu type="1" text="代理功能">
		<list type="1" text="帳號管理" disable="false" url="account.aspx"></list>
		<list type="1" text="金幣管理" disable="false" url="gold.aspx"></list>
		<list type="1" text="日誌查看" disable="false" url="log.aspx"></list>
		<list type="1" text="玩家查找" disable="false" url="searchuserid.aspx"></list>
		<list type="1" text="玩家角色" disable="false" url="viewcharacter.aspx"></list>
	</menu>
</map>