<?xml version="1.0" encoding="utf-8"?>
<config>
  <web>
    <open>true</open>
    <url>www.skymso.com</url>
    <servername>[天空墨香]</servername>
    <forum>http://forum.skymso.com</forum>
    <title>天空墨香[香港、澳門、台灣、馬來西亞、大陸——全球華人一起Play的繁體武俠網遊]</title>
    <keywords>墨香 MOXINAG 墨香私服 MOSIANG</keywords>
    <description>墨香 MOXINAG 墨香私服 MOSIANG</description>
    <copyright>copyright</copyright>
    <count>&lt;script language="javascript" src="http://count12.51yes.com/click.aspx?id=126828837"&gt;&lt;/script&gt;</count>
    <icpinfo>
    </icpinfo>
    <closetext>天空墨香網站維護中&lt;a href=http://www.godmh.com/&gt;www.godmh.com&lt;a/&gt;(sorry,GodMH website and game maintenancing)</closetext>
    <itemsid>52</itemsid>
  </web>
  <db>
    <debug>true</debug>
    <connect>93115634E59F8DCDEE8DAC82C5E38F77B4CA009B84F7EEC7DBDB68ED886B5B07379591B612CAA826804C2B8907AAA4466E4A7A775EA9C718F1A0711F09149ABD99F3C89B231C277F69093173A82E97BE</connect>
  </db>
  <alipay>
    <email>
    </email>
    <partner>
    </partner>
    <key>
    </key>
  </alipay>
  <security>
    <cpallowip>125.120.*.*|60.186.*.*|218.72.*.*</cpallowip>
    <blockip>255.255.255.255</blockip>
    <verifycode>true</verifycode>
  </security>
  <register>
    <allow>true</allow>
    <givegold>0</givegold>
    <stopregtext>關閉註冊中(register closing now)</stopregtext>
  </register>
  <game>
    <modifychanamecount>0</modifychanamecount>
    <modifychanamemoney>150000000</modifychanamemoney>
    <charesetcount>45</charesetcount>
    <charesetgivepoint>100</charesetgivepoint>
    <charesetflv>70</charesetflv>
    <charesetlvstep>1</charesetlvstep>
    <charesetfmoney>2000000</charesetfmoney>
    <charesetmoneystep>10000000</charesetmoneystep>
    <commendmoney>1000000</commendmoney>
    <commendgold>15</commendgold>
    <clearpkgold>2</clearpkgold>
    <petlvupgold2>500</petlvupgold2>
    <petlvupgold3>980</petlvupgold3>
    <skilllvupmoney>1000000</skilllvupmoney>
    <goldtomoney>2000000</goldtomoney>
    <resetpointmoney>10000000</resetpointmoney>
    <resetpointgold>150</resetpointgold>
    <pssigngold>50</pssigngold>
    <commendreborn>1</commendreborn>
    <vipoffer>1</vipoffer>
    <changeinfogold>1500</changeinfogold>
  </game>
</config>