<?xml version="1.0" encoding="utf-8" ?>
<map>
	<menu type="1" text="基本設置">
		<list type="1" text="服務器信息" disable="false" url="cpserverinfo.aspx"></list>		
		<list type="1" text="代理日誌" disable="false" url="cpagentlog.aspx"></list>
		<list type="2" text="贊助活動" disable="false" url="cpincome.aspx"></list>
	</menu>
	<menu type="2" text="網站管理">
		<list type="2" text="支付寶訂單管理" disable="false" url="cpalipay.aspx"></list>
	</menu>
	<menu type="4" text="遊戲管理">
		<list type="4" text="玩家購買記錄" disable="false" url="cpbuylog.aspx"></list>	
		<list type="4" text="帳號查看" disable="true" url="cpviewmember.aspx"></list>
		<list type="4" text="角色查看" disable="false" url="cpviewcharacter.aspx"></list>
		<list type="4" text="幫會查看" disable="true" url="cpguild.aspx"></list>
	</menu>
</map>