<?xml version="1.0" encoding="utf-8" ?>
<map>
	<menu type="1" text="基本設置">
		<list type="1" text="服務器信息" disable="false" url="cpserverinfo.aspx"></list>	
		<list type="1" text="系統維護" disable="false" url="cpmaintenance.aspx"></list>	
		<list type="1" text="網站信息設置" disable="false" url="cpwebconfig.aspx"></list>
		<list type="1" text="網站安全配置" disable="false" url="cpsecurity.aspx"></list>
		<list type="1" text="管理員設置" disable="false" url="cpadmin.aspx"></list>
		<list type="1" text="代理設置" disable="false" url="cpagent.aspx"></list>
		<list type="1" text="管理日誌" disable="false" url="cplog.aspx"></list>
		<list type="1" text="代理日誌" disable="false" url="cpagentlog.aspx"></list>
	</menu>
	<menu type="2" text="網站管理">
		<list type="2" text="首頁公告" disable="false" url="cpnotice.aspx"></list>
		<list type="2" text="銷售頁管理" disable="false" url="cpsell.aspx"></list>
		<list type="2" text="新聞類型管理" disable="false" url="cpnewstype.aspx"></list>
		<list type="2" text="新聞內容管理" disable="false" url="cpnews.aspx"></list>
		<list type="2" text="下載管理" disable="false" url="cpdownload.aspx"></list>
		<list type="2" text="友情連接管理" disable="false" url="cplink.aspx"></list>
		<list type="2" text="支付寶訂單管理" disable="false" url="cpalipay.aspx"></list>
		<list type="2" text="贊助活動" disable="false" url="cpincome.aspx"></list>
		<list type="4" text="玩家購買記錄" disable="false" url="cpbuylog.aspx"></list>	
	</menu>
	<menu type="3" text="遊戲配置">
		<list type="3" text="註冊配置" disable="false" url="cpregister.aspx"></list>
		<list type="3" text="遊戲IP配置" disable="false" url="cpoperip.aspx"></list>
		<list type="3" text="工具IP配置" disable="false" url="cptoolsip.aspx"></list>
		<list type="3" text="功能配置" disable="false" url="cpfunset.aspx"></list>
		<list type="3" text="道具商店類型配置" disable="false" url="cpitemtype.aspx"></list>
		<list type="3" text="道具商店配置" disable="false" url="cpitem.aspx"></list>
	</menu>
	<menu type="4" text="遊戲管理">
		<list type="4" text="玩家登陸日誌" disable="false" url="cploginlog.aspx"></list>
		<list type="4" text="帳號/會員管理" disable="false" url="cpmember.aspx"></list>
		<list type="4" text="角色管理" disable="false" url="cpcharacter.aspx"></list>
		<list type="4" text="幫會查看" disable="false" url="cpguild.aspx"></list>
		<list type="4" text="金幣管理" disable="false" url="cpgold.aspx"></list>
		<list type="4" text="查角色原始名" disable="false" url="cpcharactercreatename.aspx"></list>
	</menu>
</map>