<?xml version="1.0" encoding="utf-8" ?>
<fun>
		<list type="1" text="註冊帳號" disable="false" url="register.aspx"></list>
		<list type="1" text="修改密碼" disable="false" url="modifypassword.aspx"></list>
		<list type="1" text="找回密碼" disable="false" url="forgetpassword.aspx"></list>
		<list type="1" text="站內指南" disable="false" url="newslist.aspx"></list>
		<list type="1" text="推薦新人" disable="false" url="commendgift.aspx"></list>
		<list type="1" text="百寶商城" disable="false" url="shop.aspx"></list>
		<list type="1" text="網上銀行" disable="false" url="bank.aspx"></list>
		<list type="1" text="角色轉生" disable="false" url="characterreset.aspx"></list>
		<list type="1" text="寵物升級" disable="false" url="petlevelup.aspx"></list>
		<list type="1" text="清洗惡名" disable="false" url="clearpk.aspx"></list>
		<list type="1" text="購遊戲幣" disable="false" url="goldtomoney.aspx"></list>
		<list type="1" text="英雄排行" disable="false" url="hero.aspx"></list>
		<list type="1" text="幫會排行" disable="false" url="guild.aspx"></list>
		<list type="1" text="推廣達人" disable="false" url="commendlist.aspx"></list>
		<list type="1" text="修改密保" disable="false" url="changeinfo.aspx"></list>
		<list type="1" text="在線洗點" disable="false" url="resetpoint.aspx"></list>
		<list type="1" text="在線加點" disable="false" url="addpoint.aspx"></list>
		<list type="1" text="中介物品" disable="false" url="itemtogold.aspx"></list>
    <list type="1" text="大樂透" disable="false" url="newslist.aspx"></list>
</fun>